/hiredis-test
/examples/hiredis-example*
/*.o
/*.so
/*.dylib
/*.a
/*.pc
*.dSYM
tags
compile_commands.json
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/hiredis-config-version.cmake
build/hiredis-config.cmake
build/hiredis-targets.cmake
build/hiredis-test.exe
build/hiredis.pc
build/libhiredis.dll
build/libhiredis.dll.a
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.5/CMakeCCompiler.cmake
build/CMakeFiles/3.26.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.5/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.5/CMakeSystem.cmake
build/CMakeFiles/3.26.5/CompilerIdC/a.exe
build/CMakeFiles/3.26.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/Export/c30adf9aa42d7da0b03f0434e5e1ac2a/hiredis-targets-noconfig.cmake
build/CMakeFiles/Export/c30adf9aa42d7da0b03f0434e5e1ac2a/hiredis-targets.cmake
build/CMakeFiles/hiredis-test.dir/build.make
build/CMakeFiles/hiredis-test.dir/cmake_clean.cmake
build/CMakeFiles/hiredis-test.dir/compiler_depend.make
build/CMakeFiles/hiredis-test.dir/compiler_depend.ts
build/CMakeFiles/hiredis-test.dir/depend.make
build/CMakeFiles/hiredis-test.dir/DependInfo.cmake
build/CMakeFiles/hiredis-test.dir/flags.make
build/CMakeFiles/hiredis-test.dir/includes_C.rsp
build/CMakeFiles/hiredis-test.dir/linkLibs.rsp
build/CMakeFiles/hiredis-test.dir/objects.a
build/CMakeFiles/hiredis-test.dir/objects1.rsp
build/CMakeFiles/hiredis-test.dir/progress.make
build/CMakeFiles/hiredis-test.dir/test.c.obj
build/CMakeFiles/hiredis-test.dir/test.c.obj.d
build/CMakeFiles/hiredis.dir/alloc.c.obj
build/CMakeFiles/hiredis.dir/alloc.c.obj.d
build/CMakeFiles/hiredis.dir/async.c.obj
build/CMakeFiles/hiredis.dir/async.c.obj.d
build/CMakeFiles/hiredis.dir/build.make
build/CMakeFiles/hiredis.dir/cmake_clean.cmake
build/CMakeFiles/hiredis.dir/compiler_depend.make
build/CMakeFiles/hiredis.dir/compiler_depend.ts
build/CMakeFiles/hiredis.dir/depend.make
build/CMakeFiles/hiredis.dir/DependInfo.cmake
build/CMakeFiles/hiredis.dir/flags.make
build/CMakeFiles/hiredis.dir/hiredis.c.obj
build/CMakeFiles/hiredis.dir/hiredis.c.obj.d
build/CMakeFiles/hiredis.dir/includes_C.rsp
build/CMakeFiles/hiredis.dir/linkLibs.rsp
build/CMakeFiles/hiredis.dir/net.c.obj
build/CMakeFiles/hiredis.dir/net.c.obj.d
build/CMakeFiles/hiredis.dir/objects.a
build/CMakeFiles/hiredis.dir/objects1.rsp
build/CMakeFiles/hiredis.dir/progress.make
build/CMakeFiles/hiredis.dir/read.c.obj
build/CMakeFiles/hiredis.dir/read.c.obj.d
build/CMakeFiles/hiredis.dir/sds.c.obj
build/CMakeFiles/hiredis.dir/sds.c.obj.d
build/CMakeFiles/hiredis.dir/sockcompat.c.obj
build/**
